[submodule "dont-use-lombok-blindly"]
	path = dont-use-lombok-blindly
	url = https://github.com/2eungwoo/dont-use-lombok-blindly.git
[submodule "jpaquerytest"]
	path = jpaquerytest
	url = https://github.com/2eungwoo/jpatest.git
[submodule "customfilters"]
	path = customfilters
	url = https://github.com/2eungwoo/spring-security-exception-handling-filter.git
[submodule "jpafetchjoinpaging"]
	path = jpafetchjoinpaging
	url = https://github.com/2eungwoo/jpa_fetchjoin_paging.git
[submodule "logback-async-test"]
	path = logback-async-test
	url = https://github.com/2eungwoo/logback-async-test.git
[submodule "querydsltest"]
	path = querydsltest
	url = ../querydsltest
	branch = main
[submodule "isolation-level-test"]
	path = isolation-level-test
	url = https://github.com/2eungwoo/Isolation-level-test.git
[submodule "mapping-test"]
	path = mapping-test
	url = https://github.com/2eungwoo/mapping-test.git
[submodule "redisson-prac"]
	path = redisson-prac
	url = https://github.com/2eungwoo/redisson-prac.git
[submodule "redis-prac"]
	path = redis-prac
	url = https://github.com/2eungwoo/redis-prac.git
[submodule "batchprac"]
	path = batchprac
	url = https://github.com/2eungwoo/spring-batch.git
[submodule "aop_prac"]
	path = aop_prac
	url = https://github.com/2eungwoo/AOP_prac.git
[submodule "jpa_n_plus_one"]
	path = jpa_n_plus_one
	url = https://github.com/2eungwoo/jpa_n_plus_one.git
[submodule "cache_stampede_test"]
	path = cache_stampede_test
	url = https://github.com/2eungwoo/cache-stampede-test.git
