[submodule "dont-use-lombok-blindly"]
	path = dont-use-lombok-blindly
	url = https://github.com/2eungwoo/dont-use-lombok-blindly.git
[submodule "jpaquerytest"]
	path = jpaquerytest
	url = https://github.com/2eungwoo/jpatest.git
[submodule "customfilters"]
	path = customfilters
	url = https://github.com/2eungwoo/spring-security-exception-handling-filter.git
[submodule "jpafetchjoinpaging"]
	path = jpafetchjoinpaging
	url = https://github.com/2eungwoo/jpa_fetchjoin_paging.git
[submodule "logback-async-test"]
	path = logback-async-test
	url = https://github.com/2eungwoo/logback-async-test.git
[submodule "querydsltest"]
	path = querydsltest
	url = https://github.com/2eungwoo/querydsltest.git
	branch = main
